@import "variables";

.titleContainer {
  @include cardTitleTemplate;
  justify-content: end;

  .title {
    @include interBold;
    color: $negro3;
    font-size: 3.4em;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-right: 30%;

    &::after {
      content: "S";
      color: $negro3;
      padding: 3px;
      animation: terminal 1s infinite;
      -webkit-animation: terminal 1s infinite;
    }
  }
}

.habilidadesCards {
  @include cardTemplate;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    background: url(/assets/svg/black.svg) no-repeat bottom left;
    background-size: contain;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
  }

  &::before {
    content: "";
    background: url(/assets/svg/black.svg) no-repeat top right;
    background-size: contain;
    width: 100%;
    height: 10%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
  }

  .skillContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;

    .imgIcon {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes terminal {
  from {
    background: transparent;
  }
  to {
    background: $amarillo;
  }
}
