@import "variables";

.cardContainer {
  width: 100%;
  height: 70vh;
  background: $negro3;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  .background {
    width: 100%;
    height: 100%;
    padding-top: 15%;
    position: relative;

    .mainContent {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(132.26deg, #0099ff 40%, #08d9d6 75%);
      margin-top: -10px;

      .logo {
        height: 100%;
        position: absolute;
        top: 30%;
      }

      .title {
        position: absolute;
        left: 0;
        top: -30px;
        color: $blanco;
        font-size: 2.5vh;
        @include interBold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        height: 100%;

        &::after {
          content: "/>";
          margin-top: 1ch;
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
        }

        &::before {
          content: "<";
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
        }

        .word1,
        .word2 {
          writing-mode: vertical-rl;
          text-orientation: upright;
          -webkit-text-orientation: upright;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: vertical-rl;
        }

        .word1 {
          margin-bottom: 1ch;
        }
      }

      .title2 {
        @extend .title;
        top: 0;
        right: 0;
        animation: translate 3s ease-in-out infinite alternate;
        -webkit-animation: translate 3s ease-in-out infinite alternate;
        &::after {
          display: none;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

@keyframes translate {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -13%);
    -webkit-transform: translate(0, -13%);
    -moz-transform: translate(0, -13%);
    -ms-transform: translate(0, -13%);
    -o-transform: translate(0, -13%);
  }
}
