@import "variables";

.section {
  position: relative;
  overflow: hidden;

  .text {
    position: relative;
    transform: skewY(345deg) translateY(-200px);
    -webkit-transform: skewY(345deg) translateY(-200px);
    -moz-transform: skewY(345deg) translateY(-200px);
    -ms-transform: skewY(345deg) translateY(-200px);
    -o-transform: skewY(345deg) translateY(-200px);

    .letterContainer {
      position: relative;
      width: 100%;
      font-size: 8em;
      margin: 0;
      // color: linear-gradient(
      //   112.73deg,
      //   #363c45 19.02%,
      //   #222831 65.84%,
      //   #222831 97.37%
      // );
      pointer-events: none;
      line-height: 1em;
      white-space: nowrap;
      transform: translateX(calc(0% - var(--x) * 2));
      -webkit-transform: translateX(calc(0% - var(--x) * 2));
      -moz-transform: translateX(calc(0% - var(--x) * 2));
      -ms-transform: translateX(calc(0% - var(--x) * 2));
      -o-transform: translateX(calc(0% - var(--x) * 2));

      .word {
        margin-inline: 10px;
        color: $negro3;
        text-transform: uppercase;

        &::selection {
          background: transparent;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  @keyframes letter {
    0% {
      transform: translateX(-400%);
      -webkit-transform: translateX(-400%);
      -moz-transform: translateX(-400%);
      -ms-transform: translateX(-400%);
      -o-transform: translateX(-400%);
    }
    100% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
    }
  }

  .section {
    .text {
      .letterContainer {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        animation: 10s ease-in-out infinite alternate letter;
        -webkit-animation: 10s ease-in-out infinite alternate letter;
      }
    }
  }
}
