@import "variables";

.container {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    background: $amarillo;
    width: 100%;
    height: 40%;
    position: absolute;
    transform: skew(75deg);
    -webkit-transform: skew(75deg);
    -moz-transform: skew(75deg);
    -ms-transform: skew(75deg);
    -o-transform: skew(75deg);
  }

  .imageMe {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    z-index: 2;
  }

  .name {
    @include interBold;
    text-align: center;
    font-size: 1.5em;
    color: $negro3;
    z-index: 2;
  }

  .languageList {
    @include interMedium;
  }

  .email {
    @include interMedium;
    color: $azul;
    border-bottom: 0.8px solid;
    z-index: 2;
    cursor: pointer;
  }

  .githubButton {
    background: $negro3;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @include interBold;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
	margin-top: 2rem;

    .textButton {
		margin: 0.4rem;
    }
  }
}
