@import "variables";

.ExperienceTitle {
  @include cardTitleTemplate;
  justify-content: center;

  .title {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-text-orientation: upright;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    @include interBold;
    text-transform: uppercase;
    color: $negro3;
    font-size: 2.1em;

    .blue {
      color: $azul;
    }
  }
}

.portfolioCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;

  .portfolioCardImage {
    // margin-block: 5%;
    // left: 0;
    width: 100%;
    height: 50%;
  }

  .portfolioInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;

    .portfolioCardText {
      padding-inline: 1.25rem;

      .portfolioCardTitle {
        @include nunitoBlack;
        text-transform: uppercase;
        color: $negro;
        font-size: 1.5em;
      }
    }

    .portfolioCardButtons {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .gestureButton {
        @include nunitoBlack;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        color: $negro3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 8px;

        .text {
          margin-inline: 3px;
        }

        .arrow {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
        }
      }
    }
  }
}
